$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

.sans { font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif; }
.serif { font-family: "PT Serif", Georgia, Times, "Times New Roman", serif; }
.mono { font-family: $mono; }
