@import "boilerplate2";
@import "colors";
@import "typography";
@import "code";

body {
  background-color: $base03;
}

::-moz-selection { background: $magenta; text-shadow: none; }
::selection { background: $magenta; text-shadow: none; }


#container {
  margin-top: 70px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica Neue';

  #post & {
    margin-top: 30px;
  }

  strong {
    color: $solar-green;
  }
}

header {
  h1 {

    font-size: 36px;

    #post & {
      font-size: 20px;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      color: $green;
    }

    a:visited {
      color: $green;
    }
      color: $green;
  }

  h2 {
    font-size: 14px;
    color: $orange;
  }
}

article {
  color: $base0;
  line-height: 24px;
  font-size: 14px;

  a, & a:visited, & a:hover {
    text-decoration: none;
    color: $blue;
  }

  h1, & h2, & h3 {
    color: $yellow;
  }

  h1 { font-size: 24px; }
  h2 { 
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .article-signature { 
    float: right;
    color: $violet;
  }

  .article-content {
    font-family: Verdana, "Times New Roman";
  }
}
