<div id="personal">
  <ul class="social">
      <li>I put my code on <a href="https://github.com/ivanjovanovic">GitHub</a></li>
      <li>I hang mostly on <a href="https://plus.google.com/104326220116699351892">Google+</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>I participate in organization of <a href="http://www.rhok.org" title="Random Hacks of Kindness">RHoK</a></li>
      <li>I work at <a href="http://www.local.ch/en" title="Swiss PhoneBook">local.ch ag</a></li>
  </ul>
  <ul class="toolbox">
    <li>You can grab my <a href="http://feeds.feedburner.com/IvanJovanovic">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">

</div>
