<div id="personal">
  <ul class="social">
    <li>My code on <a href="https://github.com/ivanjovanovic">GitHub</a></li>
      {% if site.twitter_tweet_button %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_user }}</a>
        </li>
      {% endif %}
      <li>I work for <a href="http://www.local.ch" title="Swiss PhoneBook">local.ch AG</a></li>
      <li>I organize <a href="http://www.rhok.com" title="Random Hacks of Kindness">RHoK</a></li>

  </ul>
  <div id="gplus-widget">
    <script type="text/javascript">mbgc='f5f5f5';ww='320';mbc='cecece';bbc='3F79D5';bmobc='3b71c6';bbgc='4889F0';bmoc='3F79D5';bfc='FFFFFF';bmofc='ffffff';tlc='cecece';tc='6a6a6a';nc='6a6a6a';bc='6a6a6a';l='y';t='Find_more_about_me_on';fs='16';fsb='13';bw='100';ff='4';pc='4889F0';b='l'; pid='104326220116699351892';</script><script type="text/javascript" src="http://widgetsplus.com/google_plus_widget.js"></script>
  </div>
</div>
