---
layout: home
---
<h1>In search for the next abstraction - Ivan Jovanovic</h1>
{% include about_me.html %}
{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
  <article>
    {% include article.html %}
  </article>
{% endfor %}
<nav role="pagination">
  <div>
    {% if paginator.next_page %}
      <a class="prev" href="{{ site.url }}{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="{{ site.url }}/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{ site.url }}{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
</nav>
